.ecj-pre-h1, .ecj-pre-h1 * {
	font-size:1.5rem !important;
	font-weight:normal;}
.ecj-h1-small * {
	font-size:5rem !important;
	line-height:4.5rem;}


/*ECJ Menú móvil sin toggle*/
@media (max-width: 980px) {
       .ecj-no-toggle-menu .et_mobile_menu,
       .ecj-no-toggle-menu .mobile_menu_bar {
         display: none !important;
       }
	 	.ej-no-toggle-menu .et_pb_menu__menu {
		 display: block !important;
	 }
  }

/* Ancho Submenu por defecto (pantallas grandes) */
.ecj-menu-width .sub-menu {
  width: 450px;
}

.ecj-menu-width .sub-menu li,
.ecj-menu-width .sub-menu li a {
  width: 100%;
}

/* Responsive: pantallas medianas */
@media (max-width: 768px) {
  .ecj-menu-width .sub-menu {
    width: 100%;
  }
}

/* Responsive: pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .ecj-menu-width .sub-menu {
    width: 100%;
  }
}




.h3 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #1F853C;
	padding: 0px 0px 10px 0px !important;
}

.h3blanco {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: white;
	padding: 0px 0px 10px 0px !important;
}




@media (max-width: 767px) {
    .h3 {
        font-size: 16px;
        line-height: 35px;
		padding-bottom: 0px;
		margin-bottom: 10px;
    }
	
	 .h3blanco {
        font-size: 16px;
        line-height: 35px;
		padding-bottom: 0px;
		margin-bottom: 10px;
    }
}
