.ecj-pre-h1, .ecj-pre-h1 * {
	font-size:1.5rem !important;
	font-weight:normal;}
.ecj-h1-small * {
	font-size:5rem !important;
	line-height:4.5rem;}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
	/*font-size: 68px;
	 line-height: 70px;*/
	color: black;
	
}



h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
	font-size: 45px;
	color: black;
	line-height: 55px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}


p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	/*color: black;*/
}

.subsec{
	
}

.bold{
	font-weight: bold;
}




a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.vmid {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.et_pb_number_counter.et_pb_with_title .percent {
    margin-bottom: 0px;
}



.dsm_contact_form_7_0 .wpcf7-form p:nth-last-of-type(1) {
    text-align: left !important;
}
.wpcf7-list-item {
    display: inline-block;
    margin: 0px;
}

.fila-doble {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.fila-doble .campo {
  flex: 1;
  min-width: 200px;
}

.wpcf7-form p {
    padding-left: 0px;
    padding-right: 0px;
	padding-top: 0px;
}

.wpcf7-form p:not(.has-background):last-of-type {
    padding-bottom: 15px;
}






/*........................CARRUSEL........................*/
.marquee {
    width: 100%;
    overflow: hidden;
	  background-color: #85a99f;
  }
  
  .marquee li {
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins';
		list-style: none;
    padding: 0px 20px;
  }
  
  .marquee__content {
    display: flex;
    list-style: none;
    animation: scrolling 25s linear infinite;
  }

ul.marquee__content {
    padding: 0px !important;
}
  
  .marquee__item {
    flex-shrink: 0;
  }
  
  @keyframes scrolling {
    0% { transform: translateX(0) }
    100% { transform: translateX(-100%) }
  }



@media all and (max-width: 767px) {
	
	h1 {
	font-size: 50px !important;
	line-height: 50px;
}
	h2 {
	font-size: 30px !important;
	line-height:normal !important;
}
	p {
	font-size: 16px;
	line-height: 24px;
}
	
	.h1tit{
	font-size: 40px !important;
}
	.h2tit{
	font-size: 22px !important;
}
	
}


/* 2 Columns Mobile */
@media all and (max-width: 767px) {
    html .et-db .two-col-mob .et_pb_column {
        width:47.25% !important;
    }
    
html .et-db .two-col-mob .et_pb_column:nth-last-child(-n+2) {
        margin-bottom:0;
    }

    html .et-db .two-col-mob .et_pb_column:not(:nth-child(2n)) {
            margin-right:5.5% !important;
    }
}



/*ECJ Menú móvil sin toggle*/
@media (max-width: 980px) {
       .ecj-no-toggle-menu .et_mobile_menu,
       .ecj-no-toggle-menu .mobile_menu_bar {
         display: none !important;
       }
	 	.ej-no-toggle-menu .et_pb_menu__menu {
		 display: block !important;
	 }
  }

/* Ancho Submenu por defecto (pantallas grandes) */
.ecj-menu-width .sub-menu {
  width: 450px;
}

.ecj-menu-width .sub-menu li,
.ecj-menu-width .sub-menu li a {
  width: 100%;
}

/* Responsive: pantallas medianas */
@media (max-width: 768px) {
  .ecj-menu-width .sub-menu {
    width: 100%;
  }
}

/* Responsive: pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .ecj-menu-width .sub-menu {
    width: 100%;
  }
}




.h3 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #1F853C;
	padding: 0px 0px 10px 0px !important;
}

.h3blanco {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: white;
	padding: 0px 0px 10px 0px !important;
}




@media (max-width: 767px) {
    .h3 {
        font-size: 16px;
        line-height: 35px;
		padding-bottom: 0px;
		margin-bottom: 10px;
    }
	
	 .h3blanco {
        font-size: 16px;
        line-height: 35px;
		padding-bottom: 0px;
		margin-bottom: 10px;
    }
}
